@import "utilities";
@import "header";
@import "footer";
@import "home";

.x-container {
  display: flex;
  width: calc(100% - 165px);
  margin: 0 auto;
}

.x-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.center_v {
  align-self: center;
  width: inherit;
}